@font-face {
    font-family: 'PT_Sans_Caption_Web_Regular';
    src: url(../../Fonts/PT_Sans_Caption_Web_Regular.ttf);
}

@font-face {
    font-family: 'Intro';
    src: url(../../Fonts/Intro.ttf);
}
